# Dataset images (DON'T UPLOAD!)
dataset/train/images/
dataset/valid/images/

# Model weights (except final model)
*.pt
!models/best.torchscript

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Experiment results (keep only final)
exp_results/runs/*/
!exp_results/runs/train/exp/

# Virtual environment
venv/
.venv/

# System files
.DS_Store
Thumbs.db
